<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title th:text="#{app.title} + #{title.delimiter} + #{bills}"></title>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/globalView.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>

</head>
<body>
<!-- Navigation bar imported -->
<div th:replace="fragments/navbar :: navBar"></div>
<!-- ./Navigation bar imported -->

<!-- Content of the page -->
<div id="content-wrap">
    <h1 th:text="#{bills}"></h1>
    <p th:if="${param.success}" class="success">Bill created</p>
    <div class="form-buttons">
        <button class="button-small"><a th:href="@{/bills}">All</a></button>
        <button class="button-small"><a th:href="@{/bills-accepted}">Accepted</a></button>
        <button class="button-small"><a th:href="@{/bills-issued}">Issued</a></button>
    </div>
    <table>
        <tr>
            <th>Bill number</th>
            <th>Name</th>
            <th>Accountant</th>
            <th>Issued date</th>
            <th>Due date</th>
            <th>Price</th>
            <th>VAT</th>
            <th>Total price</th>
            <th>Paid</th>
            <th>View</th>
            <th sec:authorize="hasRole('ACCOUNTANT')">Delete</th>
        </tr>
        <tr th:each="bill : ${bills}">
            <td th:if="${bill.deleted}"><s th:text="${bill.billNumber + ' '}"></s></td>
            <td th:unless="${bill.deleted}" th:text="${bill.billNumber}"></td>
            <td th:text="${bill.name}"></td>
            <td th:text="${bill.user.firstName + ' ' + bill.user.lastName}"></td>
            <td th:text="${bill.getIssuedCzDate()}"></td>
            <td th:text="${bill.getDueCzDate()}"></td>
            <td th:text="${bill.price + ',-'}"></td>
            <td th:text="${bill.vat + ',-'}"></td>
            <td th:text="${bill.totalPrice + ',-'}"></td>
            <td th:if="${bill.isPaid}"><span>&#10003;</span></td>
            <td th:unless="${bill.isPaid}"><span>&#10008;</span></td>
            <td><a th:href="@{/bills/} + ${bill.id}">Show</a></td>
            <td sec:authorize="hasRole('ACCOUNTANT')">
                <form action="#" th:action="@{/bills}" method="post">
                    <input type="hidden" th:value="${bill.id}" th:name="billId">
                    <button onclick="return confirm('Do you really want to delete this bill?');" type="submit" th:disabled="${bill.deleted}">X</button>
                </form>
            </td>

        </tr>
    </table>

    <div sec:authorize="hasRole('ACCOUNTANT')">
        <form action="#" th:action="@{/bills/add/item}" method="get">
            <button type="submit" class="button">Add new bill</button>
        </form>
    </div>
</div>
<!-- ./Content of the page -->


<!-- Footer imported -->
<div th:replace="fragments/footer :: footer"></div>
<!-- ./Footer imported -->
</body>
</html>
