<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Title -->
		<title th:text="#{app.name} + #{title.delimiter} + #{login}"></title>

		<!-- Styles -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/globalView.css}"/>

	</head>
	<body>
	<!-- Navigation bar imported -->
	<div th:replace="fragments/navbar :: navBar"></div>
	<!-- ./Navigation bar imported -->

	<!-- Content of the page -->
		<h1>Login</h1>
		
		<p th:if="${param.error}" class="error">Wrong user or password!</p>
		
		<form th:action="@{/login}" method="post">
			<div>
				<label for="username">Username: </label><input type="text" name="username" id="username" />
			</div>
			<div>
				<label for="password">Password: </label><input type="password" name="password" id="password" />
			</div>
			<div>
				<input type="submit" value="Login" />
			</div>
		</form>

	<!-- ./Content of the page -->

	<!-- Footer imported -->
	<div th:replace="fragments/footer :: footer"></div>
	<!-- ./Footer imported -->


	</body>
</html>
