<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title th:text="#{app.name} + #{title.delimiter} + #{login}"></title>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/globalView.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>

</head>
<body>
<!-- Navigation bar imported -->
<div th:replace="fragments/navbar :: navBar"></div>
<!-- ./Navigation bar imported -->

<!-- Content of the page -->
<div id="content-wrap">
    <form th:action="@{/login}" method="post" class="align">
        <section class="login-container">
            <h3 th:text="#{login}"></h3>
            <div>
                <label for="username" th:text="#{form.login.username}"></label><input type="text" name="username"
                                                                                      id="username"/>
            </div>
            <div>
                <label for="password" th:text="#{form.login.password}"></label><input type="password" name="password"
                                                                                      id="password"/>
            </div>
            <p th:if="${param.error}" class="error" th:text="#{form.login.message}"></p>
            <div>
                <button type="submit" class="button" th:text="#{login}"></button>
            </div>
        </section>
    </form>
</div>
<!-- ./Content of the page -->

<!-- Footer imported -->
<div th:replace="fragments/footer :: footer"></div>
<!-- ./Footer imported -->

</body>
</html>
