<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title th:text="#{app.name} + #{title.delimiter} + #{register}"></title>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/globalView.css}"/>

</head>
    <body>
    <!-- Navigation bar imported -->
    <div th:replace="fragments/navbar :: navBar"></div>
    <!-- ./Navigation bar imported -->

    <!-- Content of the page -->
    <h1 th:text="#{register}"></h1>
    <!-- ./Content of the page -->

    <!-- Footer imported -->
    <div th:replace="fragments/footer :: footer"></div>
    <!-- ./Footer imported -->
</body>
</html>
