:root {

    /* COLOURS */
    --green: #50AF50;
    --black: #000000;
    --dark-grey: #333333;
    --grey: #bcbcbc;
    --white: #FFFFFF;
    --dark-white: #f2f2f2;
    --background-color: #F0F0F5;
    --background-color-darker: #cdcdd2;
    --red: #c00e00
}
